[submodule "External/OpenUI"]
	path = External/OpenUI
	url = https://github.com/ChivenZhang/OpenUI.git
[submodule "External/micro-tess"]
	path = External/micro-tess
	url = https://github.com/ChivenZhang/micro-tess.git
